<!DOCTYPE>
<html>
  <head>
    <title>Leader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1>LEADER PRICE</h1>
    <h2>Paiement</h2>
    <p>Une avance de 50% du montant total de votre commande doit-être réglée pour lancer votre commande.</p>
    <p>Le paiement se fait :</p>
    <ul>
      <li>Par carte de crédit</li>
      <li>Par virement bancaire</li>
      <li>Par PayPal</li>
    </ul>
  </body>
</html>
