body {
  margin: 10px;
  font-family: Arial, sans-serif;
}

header {
  background-color: black;
  /* border-bottom: 1px solid #ccc; */
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 300px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  padding: 5px 10px;
  background-color: #ffcc00;
  border: 1px solid #ffcc00;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px; /* Adjust for space for the border */
}

.nav-links a:hover {
  color: #ffcc00;
  border-bottom: 2px solid green; /* Adds a green line under the text */
}

.cart {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  /* border: 2px solid white; */
}