/* app/assets/stylesheets/application.css */

header h1 {
  text-align: center;
  font-size: 24px;
  padding: 10px 0;
  /* background-color: #f8f8f8; */
  margin: 0;
  color: red;
}

header {
  background-image: url('cadi.png');
  background-size: cover; /* Ajuste la taille de l'image pour remplir le header */
  background-position: center; /* Centre l'image */
  text-align: center;
  padding: 40px 0; /* Ajuste le padding selon besoin */
}

nav {
  background-color: red; /* Orange background */
  padding: 10px 0;
  text-align: center;
  color: black;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav ul li {
  display: inline;
  position: relative;
  margin: 0 10px;
  /* border: 2px solid #3399ff; */

}

nav ul li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #cc5200; /* Darker orange on hover */
}

nav ul li:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  height: 50%;
  border-left: 2px solid #ff6600; /* Orange separator */
  transform: translateY(-50%) rotate(45deg); /* Incline the separator */
}

nav ul li:first-child:before {
  display: none; /* Remove separator before the first item */
}
